<h1><%= t "title" %></h1>

<p><%= t ".content3"%> <%= @user.name %>,</p>

<p>
<%= t ".content1" %>
</p>
<%= link_to t(".content2"), edit_account_activation_url(id: @user.activation_token,
                                                        email: @user.email) %>
