<footer class="footer">
  <small>
    <%= t(".content1") %> <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    <%= t(".content") %> <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".title1"), about_path %></li>
      <li><%= link_to t(".title2"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t(".title3") %></a></li>
    </ul>
  </nav>
</footer>