<footer class="footer">
  <small>
    <%= t(".content1") %> <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    <%= t(".content") %> <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("title_about"), about_path %></li>
      <li><%= link_to t("title_contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t "title_news" %></a></li>
      <br><br>
      <li><%= link_to t(".content2"), locale: "en" %></li>
      <li><%= link_to t(".content3"), locale: "vi" %></li>
    </ul>
  </nav>
</footer>
